@{
    ViewData["Title"] = "Home Page";
}
<h1>Ajax example</h1>
<h3>Post Data</h3>
<form action="/jquery" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="Name">
    </div>
    <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" name="Location">
    </div>
    <input type="submit" value="Send!">
</form>